@page "/"
@page "/resumen"
@page "/dashboard"
@using BANCOEMPLEOJAC.DTO
@using BANCOEMPLEOJAC.WebAssembly.Servicio.Interfase
@using Microsoft.AspNetCore.Authorization
@inject IDashboardServicio dashboardServicio
<div class="container-fluid">
    <div class="img-fluid text-center">
        <img src="descripcionweb.jpg" class="img-responsive" style="max-width: 100%; height: auto;" />
    </div>
    <div class="text-center">
        <h2>Empleadores y Empleados conectando con Empleo Local!</h2>
        <h3>ó lo más cerca que se encuentre.</h3>
    </div>
</div>
<div class="row mt-4">

    <div class="col-sm-6 mb-3">
        <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-primary p-4">
            <div class="row align-items-center">
                <div class="col ms-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Valor Contratos
                    </div>
                    <div class="h5 mb-0 fw-bold text-muted">
                        $COL. @dashboard.TotalIngresos
                    </div>
                </div>
                <div class="col-auto">
                    <i class="oi oi-dollar text-secondary" style="font-size:50px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-success p-4">
            <div class="row align-items-center">
                <div class="col ms-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Cantidad Contratos
                    </div>
                    <div class="h5 mb-0 fw-bold text-muted">
                        @dashboard.TotalContratos
                    </div>
                </div>
                <div class="col-auto">
                    <i class="oi oi-tags text-secondary" style="font-size:50px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-warning p-4">
            <div class="row align-items-center">
                <div class="col ms-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Cantidad Empleos
                    </div>
                    <div class="h5 mb-0 fw-bold text-muted">
                        @dashboard.TotalEmpleos
                    </div>
                </div>
                <div class="col-auto">
                    <i class="oi oi-people text-secondary" style="font-size:50px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-info p-4">
            <div class="row align-items-center">
                <div class="col ms-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Cantidad Productos
                    </div>
                    <div class="h5 mb-0 fw-bold text-muted">
                        @dashboard.TotalServicios
                    </div>
                </div>
                <div class="col-auto">
                    <i class="oi oi-box text-secondary" style="font-size:50px"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-primary p-4">
            <div class="row align-items-center">
                <div class="col ms-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Cantidad Propuestas Empleos
                    </div>
                    <div class="h5 mb-0 fw-bold text-muted">
                        @dashboard.TotalPropuestasEmpleo
                    </div>
                </div>
                <div class="col-auto">
                    <i class="oi oi-people text-secondary" style="font-size:50px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-success p-4">
            <div class="row align-items-center">
                <div class="col ms-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Cantidad Propuestas Servicios
                    </div>
                    <div class="h5 mb-0 fw-bold text-muted">
                        @dashboard.TotalPropuestasServicio
                    </div>
                </div>
                <div class="col-auto">
                    <i class="oi oi-box text-secondary" style="font-size:50px"></i>
                </div>
            </div>
        </div>
    </div>


</div>
@code {
    // POR HACER : QUE SE VEA SOLAMENTE LOS DATOS DEL CLIENTE QUE ESTA IDENTIFICADO Y CUANDO NO QUE SE VEAN TODOS FECHA: 26/FEB/2024 9:59PM
    private DashboardDTO dashboard = new DashboardDTO();

    protected override async Task OnInitializedAsync()
    {
        var response = await dashboardServicio.Resumen();
        if (response.EsCorrecto)
        {
            dashboard = (DashboardDTO)response.Resultado!;
        }
    }

}

