@page "/empleo"
@page "/empleo/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IEmpleoServicio empleoServicio
@inject IPerfilCargoServicio perfilcargoServicio
@inject IToastService toastService
@inject NavigationManager _navServicio

@attribute [Authorize(Roles = "1,2,3,4,5")]



<div class="row justify-content-center  mt-3">
    <p class="col-sm-12 col-md-8 col-xl-10 h4 mt-2">@Titulo</p>
</div>
<div class="row justify-content-center  mt-3">
    <div class="col-sm-12 col-md-8 col-xl-10">

        <EditForm Model="modelo" OnValidSubmit="GuardarCambios">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <!--Como empleador o Empleado-->
            <div class="input-group mt-3">
                <label class="input-group-text bg-light" for="inputGroupSelect01">Actúa como :</label>
                <select class="form-control" @onchange="CambiarTipo" id="selTipo">
                    <option value="true" selected="@empleador">Empleador</option>
                    <option value="false" selected="@(!empleador)">Empleado</option>
                </select>
            </div>
            @if (empleador)
            {
                <input type="hidden" @bind-value="modelo.EmpleadorId" />
            }
            else
            {
                <input type="hidden" @bind-value="modelo.EmpleadoId" />
            }

            <div class="input-group mt-3">
                @if (empleador)
                {
                    <span class="input-group-text bg-light" id="basic-addon3">
                        Número Empleos Requeridos:
                        <input type="number" class="form-control" @bind-value="modelo.Cantidad">
                    </span>
                }
                else
                {
                    <span class="input-group-text bg-light" id="basic-addon3">
                        Cantidad Empleados:
                        <input type="number" disabled class="form-control" @bind-value="modelo.Cantidad">
                    </span>
                }
            </div>
            <ValidationMessage For="@(()=>modelo.Cantidad)" />

            <div class="input-group mt-3">
                <a href="/perfilcargo" class="btn btn-secondary float-start oi oi-plus" style="width:45px; heigh:auto"></a>
                <label class="input-group-text bg-light col-sm-1 col-md-2 col-lg-4 display: block; hight: 100px;" for="inputGroupSelect01">Perfil ó Cargo y Tipo Contrato :</label>
                <select class="form-control col-sm-8 col-lg-8 overflow: hidden;" @onchange="CambiarCategoria">
                    @foreach (var item in listaPerfilCargo)
                    {
                        if (item.IdPerfilCargo == IdPerfilCargo)
                        {
                            <option value="@item.IdPerfilCargo" selected>@item.Descripcion - <b>@listaTipoContrato.Where(lp => lp.IdTipoContrato == item.IdTipoContrato).FirstOrDefault().Nombre.ToString()</b></option>
                        }
                        else
                        {
                            <option value="@item.IdPerfilCargo">@item.Descripcion - <b>@listaTipoContrato.Where(lp => lp.IdTipoContrato == item.IdTipoContrato).FirstOrDefault().Nombre.ToString()</b></option>
                        }
                    }
                </select>
                <a href="/perfilcargo/@IdPerfilCargo" class="btn btn-secondary float-end oi oi-pencil" style="width:45px"></a>

            </div>

            <div class="input-group mt-3">
                <span class="input-group-text bg-light" id="basic-addon3">Nombre Empleo</span>
                <input type="text" class="form-control" @bind-value="modelo.Nombre">
            </div>
            <ValidationMessage For="@(()=>modelo.Nombre)" />

            <div class="input-group  mt-3">
                <span class="input-group-text bg-light">Descripcion Empleo</span>
                <input type="text" class="form-control" @bind-value="modelo.Descripcion"></input>

            </div>
            <ValidationMessage For="@(()=>modelo.Descripcion)" />

            <div class="input-group mt-3">
                <span class="input-group-text bg-light" id="basic-addon3">@if (empleador) { @("Requisitos"); } else { @("Experiencia"); }</span>
                <input type="text" class="form-control" @bind-value="modelo.Requisitos">
            </div>
            <ValidationMessage For="@(()=>modelo.Requisitos)" />

            <div class="form-check form-switch mt-3" style="margin-left: 10px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;">
                <input class="form-check-input" type="checkbox" @bind-value="modelo.Activo">
                <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
            </div>
            <div class="form-floating mt-3">
                <input class="form-control" id="inputFechaHoraInicio" type="datetime-local" placeholder="" @bind-value="modelo.FechaHoraInicio" autocomplete="off" />
                <label for="inputEmail">Fecha Hora Inicio Empleo</label>
            </div>
            <ValidationMessage For="@(()=>modelo.FechaHoraInicio)" />
            <div class="form-floating mt-3">
                <input class="form-control" id="inputFechaHoraFin" type="datetime-local" placeholder="" @bind-value="modelo.FechaHoraFin" autocomplete="off" />
                <label for="inputEmail">Fecha Hora Finaliza Empleo</label>
            </div>
            <ValidationMessage For="@(()=>modelo.FechaHoraFin)" />
            <div class="input-group mt-3">
                <span class="input-group-text bg-light" id="basic-addon3">Ubicación</span>
                <input type="text" class="form-control" @bind-value="modelo.Ubicacion">
            </div>
            <ValidationMessage For="@(()=>modelo.Ubicacion)" />

            <div class="input-group mt-3">
                <span class="input-group-text bg-light" id="basic-addon3">Valor del Empleo</span>
                <input type="number" class="form-control" @bind-value="modelo.Precio">
            </div>
            <ValidationMessage For="@(()=>modelo.Precio)" />

            <div class="input-group mt-3">
                <span class="input-group-text bg-light" id="basic-addon3">Precio Oferta del Empleo</span>
                <input type="number" class="form-control" @bind-value="modelo.PrecioOferta">
            </div>
            <ValidationMessage For="@(()=>modelo.PrecioOferta)" />
            <div class="form-floating mt-3">
                <input class="form-control" id="inputFechaHoraActiva" type="datetime-local" placeholder="" @bind-value="modelo.FechaHoraActiva" autocomplete="off" />
                <label for="inputEmail">Fecha Hora Activa Empleo</label>
            </div>
            <ValidationMessage For="@(()=>modelo.FechaHoraActiva)" />
            <div class="form-floating mt-3">
                <input class="form-control" id="inputFechaHoraFin" type="datetime-local" placeholder="" @bind-value="modelo.FechaHoraInactiva" autocomplete="off" />
                <label for="inputEmail">Fecha Hora Inactiva Empleo</label>
            </div>
            <ValidationMessage For="@(()=>modelo.FechaHoraInactiva)" />

            <div class="input-group mt-3">
                <span class="input-group-text bg-light" id="basic-addon3">Observaciones</span>
                <textarea class="form-control" @bind="modelo.Observaciones"></textarea>
            </div>
            <ValidationMessage For="@(()=>modelo.Observaciones)" />

            <div class="mt-3">
                <button type="submit" class="btn btn-primary" style="width:130px">@boton</button>
                <a href="/empleos" class="btn btn-secondary" style="width:130px">Volver</a>
            </div>
        </EditForm>
    </div>
</div>

@code {

}
