@page "/perfilcargo"
@page "/perfilcargo/{Id:int}"
@using BANCOEMPLEOJAC.Modelo
@using BANCOEMPLEOJAC.Repositorio.Interfase
@using BANCOEMPLEOJAC.WebAssembly.Servicio.Implementacion
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;

@inject AuthenticationStateProvider authenticationStateProvider
@inject IActividadEconomicaServicio _actividadEcoServicio

@inject IPerfilCargoServicio perfilcargoServicio
@inject IUsuarioServicio userServicio
@inject IJacServicio jacServicio
@inject IToastService toastService
@inject NavigationManager _navServicio
@attribute [Authorize(Roles = "1,2,3,4,5")]


<div class="row justify-content-center  mt-3">
    <p class="col-sm-12 col-md-8 col-xl-10 h4 mt-2">@Titulo</p>
</div>
<div class="row justify-content-center  mt-3">
    <div class="col-sm-12 col-md-8 col-xl-10">

        <EditForm Model="modelo" OnValidSubmit="GuardarCambios">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="input-group mt-3">
                <span class="input-group-text bg-light">Descripción</span>
                <input type="text" class="form-control" @bind-value="modelo.Descripcion">
            </div>
            <ValidationMessage For="@(()=>modelo.Descripcion)" />
            <div class="input-group mt-3">
                <span class="input-group-text bg-light">Requisitos</span>
                <input type="text" class="form-control" @bind-value="modelo.Requisitos">
            </div>
            <ValidationMessage For="@(()=>modelo.Requisitos)" />
            <div class="input-group mt-3">
                <span class="input-group-text bg-light">Valor Acumulado</span>
                <input type="text" class="form-control" @bind-value="modelo.Compensacion">
            </div>
            <div class="mb-3">
                <label class="input-group-text bg-light justify-content-center" for="inputGroupSelect01">Actividad Económica</label>
                <select class="form-control" @bind="@modelo.IdActividadEconomica">
                    @foreach (var item in listActividadEconomica)
                    {
                        <option value="@item.IdActividad">@item.Descripcion</option>
                    }
                </select>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text bg-light">Tipo Contrato</span>

                <select class="form-control" @bind-value="modelo.IdTipoContrato" @bind-value:event="onchange">
                    @if (listaTipoContrato != null)
                    {
                        @foreach (var item in listaTipoContrato)
                        {
                            if (item.IdTipoContrato == IdTipoContrato)
                            {
                                <option value="@item.IdTipoContrato" selected>@item.Nombre</option>
                            }
                            else
                            {
                                 <option value="@item.IdTipoContrato">@item.Nombre</option>
                            }
                        }
                    }
                </select>




            </div>
            <div class="input-group mt-3 text-center">
                <span class="input-group-text bg-light">JAC</span>
                <input type="text" class="form-control" disabled value=@jac.Nombre />
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text bg-light">Observaciones</span>
                <input type="text" class="form-control" @bind-value="modelo.Observaciones">
            </div>
            <ValidationMessage For="@(()=>modelo.Observaciones)" />

            <div class="mt-3">
                <button type="submit" class="btn btn-primary" style="width:130px">@boton</button>
                <a href="/categorias" class="btn btn-secondary" style="width:130px">Volver</a>
            </div>
        </EditForm>


    </div>

</div>
@code {
    // POR HACER : QUE SE PUEDA SELECCIONAR EL TIPO DE CONTRATO EN LOS PERFILES FECHA: 27/FEB/2024 5:20PM
    [Parameter]
    public int Id { get; set; }
    public int IdTipoContrato { get; set; }
    public int IdJAC { get; set; }
    private JacDTO jac = new JacDTO();
    private string Titulo = "Nuevo Perfil Cargo";
    private string boton = "Crear";
    private PerfilCargoDTO modelo = new PerfilCargoDTO();
    public List<ActividadEconomicaDTO> listActividadEconomica = new List<ActividadEconomicaDTO>();
    public List<TipoContratoDTO> listaTipoContrato = new List<TipoContratoDTO>();
    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {


            Titulo = "Editar Perfil o Cargo";
            boton = "Actualizar";

            var response = await perfilcargoServicio.Obtener(Id);
            if (response.EsCorrecto)
            {
                modelo = (PerfilCargoDTO)response.Resultado!;
                IdTipoContrato = (int)modelo.IdTipoContrato;
                IdJAC = (int)modelo.JacId;
            }
            else
            {
                toastService.ShowWarning(response.Mensaje);
            }
        }
        // modelo.ActividadEconomicaId = 8;
        //modelo.IdTipoContrato = 1;
        //modelo.JacId = 1;
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        int idUsuario = Convert.ToInt32(user.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault().ToString());
        IdJAC = Convert.ToInt32(user.Claims.Where(c => c.Type == ClaimTypes.Locality).Select(c => c.Value).SingleOrDefault().ToString());
        modelo.JacId = IdJAC;

        // var resultado = userServicio.Obtener(idUsuario).Result;
        // if (resultado.EsCorrecto)
        // {
        //     var usu = resultado.Resultado;
        //     IdJAC = (int)usu.JacId;
        ObtenerJac(IdJAC);
        // }
        
        ObtenerActividadEconomica();
    }
    protected override async Task OnInitializedAsync()
    {
        ObtenerActividadEconomica();
        ListarTipoContrato();

    }
    public async Task ObtenerActividadEconomica(string Valor = "")
    {
        var response = await _actividadEcoServicio.Lista(Valor);

        if (response.EsCorrecto!)
        {
            listActividadEconomica = (List<ActividadEconomicaDTO>)response.Resultado!;
        }
        else
        {
            listActividadEconomica = new List<ActividadEconomicaDTO>();
        }
        StateHasChanged();
    }
    public async Task ListarTipoContrato(string Valor = "")
    {
        var response = await perfilcargoServicio.ListaTipoContrato(Valor);

        if (response.EsCorrecto!)
        {
            listaTipoContrato = (List<TipoContratoDTO>)response.Resultado!;
        }
        else
        {
            listaTipoContrato = new List<TipoContratoDTO>();
        }
        StateHasChanged();
    }

    private async Task ObtenerJac(int id)
    {
        var response = await jacServicio.Obtener(id);

        if (response.EsCorrecto!)
        {
            jac = response.Resultado!;
        }
        else
        {
            jac = new JacDTO();
        }
        StateHasChanged();
    }


    private async Task GuardarCambios()
    {
        bool respuesta = true;
        string mensaje = string.Empty;

        if (Id != 0)
        {
            var response = await perfilcargoServicio.Editar(modelo);
            if (response.EsCorrecto)
            {
                mensaje = "Categoria fue modificada";
            }
            else
            {
                respuesta = false;
                mensaje = "No se pudo editar";
            }
        }
        else
        {
            // adiciona modelo
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            // Get the claim value
            var claimValue = user.FindFirst(c => c.Type == "Locality")?.Value;

            // Add the claim value to the model before creating

            modelo.JacId = 1;// Convert.ToInt32(claimValue); //1;// Convert.ToInt32(user.FindFirst(c => c.Type == "Locality")?.Value);
            var response = await perfilcargoServicio.Crear(modelo);
            if (response.EsCorrecto)
            {
                mensaje = "Perfilr o Cargo fue creado";
            }
            else
            {
                respuesta = false;
                mensaje = "No se pudo crear";
            }
        }
        if (respuesta)
        {
            toastService.ShowSuccess(mensaje);
            _navServicio.NavigateTo("/perfilescargos");
        }
        else
        {
            toastService.ShowWarning(mensaje);
        }
    }

}
